<%= form_with model: task, local: false do |f| %>
  <div class="flex items-center gap-2">
    <%= f.text_field :title,
    class: "focus-ring disabled-gray w-96 py-2 px-3 border-gray-200 rounded-sm text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" %>
    <%= f.button :type => "button", id: "cancel-#{task.hashed_id}",
    class: "focus-ring disabled-gray no-underline w-8 h-8 flex justify-center items-center rounded-sm border border-gray-500 text-gray-500 hover:border-gray-400 hover:text-gray-400" do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
    <%= f.button :type => "submit",
    class: "focus-ring disabled-gray no-underline w-8 h-8 flex justify-center items-center rounded-sm border border-green-500 text-green-500 hover:border-green-400 hover:text-green-400" do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
  </div>
<% end %>