<div class="flex items-center gap-2">
  <div class="w-96"><%= task.title %></div>
  <%= link_to edit_task_path(task),
    remote: true,
    class: "focus-ring disabled-gray no-underline w-8 h-8 flex justify-center items-center rounded-sm border border-blue-500 text-blue-500 hover:border-blue-400 hover:text-blue-400" do %>
    <i class="fa-solid fa-pencil"></i>
  <% end %>
</div>